BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
SpaceAfterCStyleCast: true
PointerAlignment: Right
SortIncludes: false
KeepEmptyLinesAtTheStartOfBlocks: false
